<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

    <title>Chat - ChatBox</title>
</head>

<body>
    <div class="container-class">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">chatBox</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ChatRooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
                <form action="/logout" method="GET">
                    <ul class="navbar-nav mr-right-2">
                        <button id="logout-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">LogOut</button>
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Signup</button> -->
                    </ul>
                </form>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            <h1>Hey!<span id="get-username">{{username|title}}</span> Welcome to ChatBox</h1>
        </div>
    </div>
    <div class="row sizechange">
        <div class="col-2 ">
            <h1>Room List</h1>
            <ul class="list-group product-filter">
                {% for room in rooms %}
                <a class="list-group-item">
                    <i id="{{ room|title }}" class="material-icons">message</i>
                    <div class="bmd-list-group-col">
                        <p class="list-group-item-heading select-room">{{room|title}}</p>
                        <p class="list-group-item-text">send message here</p>
                    </div>
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <!-- it's me -->
            <div id="display-message-section">
                <!-- <p>This is predefined Text</p> -->
            </div>
            <div class="input-group mb-3 bottom-fix">
                <input type="text" id="user_message" class="form-control" placeholder="Send Something..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="send_message" class="btn btn-outline-secondary" type="button">Send</button>
                </div>
            </div>
        </div>
        <!-- <span id="get-username">{{ username }}</span> -->

        <!-- Custom chat JS -->
        <!-- <script src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script> -->

        <!-- SocketIO JS -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- Custom SocketIO JS -->
        <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
        <!-- <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script> -->
        <!-- <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script> -->
        <!-- <script>
            $(document).ready(function() {
                $('body').bootstrapMaterialDesign();
            });
        </script> -->

</body>

</html>