<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <title>Chat - ChatBox</title>
</head>

<body>

    <div class="container-class">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">chatBox</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ChatRooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
                <form action="/login" method="GET">
                    <ul class="navbar-nav mr-right-2">
                        <button id="logout-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Signup</button> -->
                    </ul>
                </form>
                <form action="/" method="GET">
                    <ul class="navbar-nav mr-right-2">
                        <button id="logout-btn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Signup</button>
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Signup</button> -->
                    </ul>
                </form>
            </div>
        </nav>
        <div class="main-section">

            <div class="jumbotron">
                <h1 class="display-4">ChatterBox</h1>
                <p class="lead">Grab your chat room </p>
            </div>



            <!-- Righthand side start -->
            <div id="righthand-side">

                <!-- Flash error messages start -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- The messages, if any, are returned as a list. And not all redenring of the pages will have a message. So we put a condition to check whether the messages list is empty -->
                {% if messages %}
                <!-- We will set the class form our custom css file we had created earlier. And we want to see the first item in the list. -->
                <div class="alert alert-{{ messages[0][0] }} " role="alert">
                    {{ messages[0][1] }}
                </div>
                <hr> {% endif %} {% endwith %}
                <!-- Flask error messages end -->

                {% block content%} {% endblock %}

            </div>
            <!-- Righthand side end -->
        </div>
        <!-- Main section end -->

    </div>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script> -->
    <!-- <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script> -->
    <!-- <script>
            $(document).ready(function() {
                $('body').bootstrapMaterialDesign();
            });
        </script> -->

</body>

</html>