.container {
    height: 70vh;
    width: 60%;
    background-color: rgb(177, 185, 192);
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* overflow:auto;
    overflow-y: visible; */
    position: relative;
}

.msg-box {
    width: 100%;
    position: absolute;
    bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    width: 90%;
}