<html>

<head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>
    Hello world
    <div class="container">
        <div class="chat-box">
            <div class="box">1</div>
            <div class="box">2</div>
            <div class="box">3</div>
            <div class="box">4</div>
            <div class="box">5</div>
            <div class="box">6</div>
            <div class="box">7</div>
            <div class="box">8</div>
            <div class="box">9</div>
            <div class="box">10</div>
        </div>
        <div class="msg-box">
            <input class="text-box" name="msg" placeholder="enter msg here" />
            <button class="btn" type="button"> Send</button>
        </div>
    </div>
</body>

</html>